<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
	<h1>
		Inserte un estudiante
	</h1>

	<form th:action="@{/main/estudiante}" th:object="${estudiante}" th:method="POST">

		<div class="row mb-3">
			<label class="col-sm-2 col-form-label col-form-label-sm">Nombre:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" th:field="${estudiante.nombre}">
			</div>
		</div>

		<div class="row mb-3">
			<label class="col-sm-2 col-form-label col-form-label-sm">Apellido:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" th:field="${estudiante.apellido}">
			</div>
		</div>

		<div class="row mb-3">
			<label class="col-sm-2 col-form-label col-form-label-sm">Cédula:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" th:field="${estudiante.cedula}">
			</div>
		</div>

		<div class="row mb-3">
			<label class="col-sm-2 col-form-label col-form-label-sm">Dirección:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" th:field="${estudiante.direccion}">
			</div>
		</div>

		<div class="row mb-3">
			<div class="col-sm-10 offset-sm-2">
				<input type="submit" class="btn btn-primary" value="Guardar">
			</div>
		</div>

</body>

</html>